
@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-md-12">
        <h2>Acessar o sistema</h2>
        <p>Usuário</p>
        <p><input type="text" /></p>
        <p>Senha</p>
        <p><input type="password" /></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Login</a></p>
    </div>
</div>

