
@{
    ViewBag.Title = "Incluir";
}

<h2>Incluir Produto</h2>
<form>
    <div class="row">
        <div class="col-md-12">
            <p>Nome do Produto</p>
            <p><input type="text" id="nome" name="nome" required="required" /></p>
            <p>Descrição</p>
            <p><input type="text" id="descricao" name="descricao" required="required" /></p>
            <p>Foto (Url)</p>
            <p><input type="text" id="foto" name="foto" required="required" /></p>
            <p>Preço</p>
            <p><input type="text" id="preco" name="preco" required="required" /></p>
            <p>Data de Lançamento</p>
            <p><input type="text" id="dataLancamento" name="dataLancamento" required="required" /></p>

            <button type="submit" class="btn btn-default">Incluir</button>
        </div>
    </div>
</form>
